<footer class="footer">
    <div class="container-fluid bg-primary text-white">
        <div class="container p-5">
            <div class="row d-flex flex-column justify-content-center align-items-center flex-sm-row justify-content-sm-between align-items-sm-center">
                <h2 class="col-12 col-sm-6">
                    <img class="logo_footer" src="/assets/images/happy_logo_white.png" alt="">
                </h2>
                <ul class="col-12 col-sm-6 d-flex justify-content-end ">
                    <li class="me-3">
                        <a class="link-light text-decoration-none" href="javascript:;">
                            <i class="fa-brands fa-facebook"></i>
                            facebook</a>
                    </li>
                    <li class="me-3">
                        <a class="link-light text-decoration-none" href="javascript:;">
                            <i class="fa-brands fa-square-instagram"></i>
                            instagram</a>
                    </li>
                    <li class="me-3">
                        <a class="link-light text-decoration-none" href="javascript:;">
                            <i class="fa-brands fa-line"></i>
                            line</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>