<footer class="footer">
    <div class="container-fluid bg-primary text-white">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
                <h2 class="col">樂樂</h2>
                <ul class="col text-center">
                    <li>
                        <h3>樂樂音樂家教媒合平台</h3>
                    </li>
                    <li>
                        <p> 地址：台北市中山區音樂路 1 號</p>
                    </li>
                    <li>
                        TEL:<a class="text-white" href="tel:+886-123456789">123456789</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>