<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
            <a class="navbar-brand" href="#">樂樂</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mb-2 ms-auto mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">成為老師</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">課程列表</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">登入</a>
                </li>
              </ul>
        </div>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
    </div>
  </nav>
<!-- <a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a> -->