//全站的一些標籤樣式清除與文字
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{
    vertical-align: middle;
}

.txt_castoro{
    font-family: 'Dancing Script', cursive;
}

