.navbar-brand{
  width: 90px;
  height: 40px;
  display: block;
  background-image: url('/assets/images/happy_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  text-indent:101%;
  overflow:hidden;
  white-space:nowrap;
}