.login-bg{
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1610282594974-03cf1dacc68b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80');
}
.login-from{
    .btn{
        width: 150px;
    }
}