<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <title>音樂家教媒合平台</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- banner -->
    <div class="container">
      <section class="row d-flex justify-content-between align-items-center banner-wrap">
        <div class="col-6">
          <h2>開啟您的樂章</h2>
          <p>音樂之旅，與我們一同起航。歡迎來到我們的音樂家教媒合平台，一個獨特的學習社區。在這裡，與熱愛音樂的導師相遇，將你的音樂激情傾注其中。</p>
          <button class="btn btn-primary">搜尋課程</button>
        </div>
        <div class="col-6">
           <img class="banner" src="../assets/images/banner.png" alt="">
        </div>
      </section>
      <!-- 精選課程 -->
      <div class="row mb-5">
        <div class="d-flex justify-content-between align-items-center">
          <div class="card swiper-slide" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" class="card-img-top img-fluid" alt="photo">
            <div class="card-body">
              <h5 class="card-title">零基礎開始學鋼琴</h5>
              <p class="card-text fw-light text-secondary"><span>by</span> 小樂老師</p>
              <p class="text-primary">
                <span class="me-3"><i class="fa-sharp fa-solid fa-clock me-2"></i>60分鐘</span>
                <span><i class="fa-solid fa-user-group me-2"></i>1200</span>
              </p>
              <p>NT$ 2,000</p>
              <a href="#" class="d-block btn btn-primary ms-auto stretched-link">我要上課</a>
            </div>
          </div>
          <div class="card swiper-slide" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" class="card-img-top img-fluid" alt="photo">
            <div class="card-body">
              <h5 class="card-title">零基礎開始學鋼琴</h5>
              <p class="card-text fw-light text-secondary"><span>by</span> 小樂老師</p>
              <p class="text-primary">
                <span class="me-3"><i class="fa-sharp fa-solid fa-clock me-2"></i>60分鐘</span>
                <span><i class="fa-solid fa-user-group me-2"></i>1200</span>
              </p>
              <p>NT$ 2,000</p>
              <a href="#" class="d-block btn btn-primary ms-auto stretched-link">我要上課</a>
            </div>
          </div>
          <div class="card swiper-slide" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" class="card-img-top img-fluid" alt="photo">
            <div class="card-body">
              <h5 class="card-title">零基礎開始學鋼琴</h5>
              <p class="card-text fw-light text-secondary"><span>by</span> 小樂老師</p>
              <p class="text-primary">
                <span class="me-3"><i class="fa-sharp fa-solid fa-clock me-2"></i>60分鐘</span>
                <span><i class="fa-solid fa-user-group me-2"></i>1200</span>
              </p>
              <p>NT$ 2,000</p>
              <a href="#" class="d-block btn btn-primary ms-auto stretched-link">我要上課</a>
            </div>
          </div>
          <div class="card swiper-slide" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" class="card-img-top img-fluid" alt="photo">
            <div class="card-body">
              <h5 class="card-title">零基礎開始學鋼琴</h5>
              <p class="card-text fw-light text-secondary"><span>by</span> 小樂老師</p>
              <p class="text-primary">
                <span class="me-3"><i class="fa-sharp fa-solid fa-clock me-2"></i>60分鐘</span>
                <span><i class="fa-solid fa-user-group me-2"></i>1200</span>
              </p>
              <p>NT$ 2,000</p>
              <a href="#" class="d-block btn btn-primary ms-auto stretched-link">我要上課</a>
            </div>
          </div>
        </div>
      </div>
      <!-- 多元課程 -->
      <div class="row">
        <h2 class="col-12 text-center subtitle mb-5">
          <span class="fs-2 txt_castoro d-block">class</span>
          <span class="fs-3">多元課程</span>
        </h2>
      </div>
      <div class="row d-flex align-items-center">
        <img class="col-6 rounded" src="/assets/images/decorate/photo-1.jpg"></img>
        <div class="col-6">
          <h3>特色</h3>
          <p>「歡迎來到我們的音樂家教媒合平台！我們提供多元化的課程，讓學生能夠自由選擇符合自己興趣和目標的學習內容。不論是想學習鋼琴、吉他、小提琴、歌唱技巧或者其他樂器，我們的平台上都有經驗豐富的專業音樂家教師，致力於提供高品質的個人化指導，讓音樂之旅更加豐富精彩！」</p>
        </div>
      </div>
      <div class="row d-flex align-items-center mb-5">
        <div class="col-6">
          <h3>特色</h3>
          <p>「歡迎來到我們的音樂家教媒合平台！我們提供多元化的課程，讓學生能夠自由選擇符合自己興趣和目標的學習內容。不論是想學習鋼琴、吉他、小提琴、歌唱技巧或者其他樂器，我們的平台上都有經驗豐富的專業音樂家教師，致力於提供高品質的個人化指導，讓音樂之旅更加豐富精彩！」</p>
        </div>
        <img class="col-6 rounded" src="/assets/images/decorate/photo-1.jpg"></img>
      </div>
      <!-- 學員反饋 -->
      <div class="row mb-5">
        <div class="d-flex justify-content-between align-items-center">
          <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" class="card-img-top img-fluid" alt="photo">
            <div class="card-body">
              <h5 class="card-title">台北 ｜陳先生</h5>
              <p class="card-text fw-light text-secondary">"在音樂教室學習音樂，讓我發現了自己的潛力和無限可能。"</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" class="card-img-top img-fluid" alt="photo">
            <div class="card-body">
              <h5 class="card-title">台北 ｜陳先生</h5>
              <p class="card-text fw-light text-secondary">"音樂教室的課程豐富多樣，讓我能夠全方位發展自己的音樂才能。"</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" class="card-img-top img-fluid" alt="photo">
            <div class="card-body">
              <h5 class="card-title">台北 ｜陳先生</h5>
              <p class="card-text fw-light text-secondary">"音樂教室的老師用心教學，讓我能夠更深入地理解音樂的奧妙。"</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" class="card-img-top img-fluid" alt="photo">
            <div class="card-body">
              <h5 class="card-title">台北 ｜陳先生</h5>
              <p class="card-text fw-light text-secondary">"每一次在音樂教室的學習都讓我成長一步，感謝老師的指導！"</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  </body>
</html>
